@import '~antd/dist/antd.dark.css';
.body{
  min-height: 100%;
}
.layout{
  min-height: 92%;
}
.AppWrapper{
  min-height: 100vh;
}
.center{
  width: 100%;
  height:100%;
}

.ant-layout-sider-children{
  background: #141414;
}
