.favourite-movie-card{
  background-color: transparent;
  border:none;
  border-radius: 30px;
  margin:1rem;
  &>*{
    border-radius: .2rem;
  }
}
.favourite-movie-body{
  display: flex;
  position: relative;
  padding: 0;
  margin: 0;
  .ant-card-img{
    border-radius:.2rem;
      z-index: 100;   
  }
  .favourite-movie-hover{
    padding: 1rem;
    z-index: 98;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 100;
    position: absolute;
    align-items: flex-start;
    justify-content: center;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    .favourite-movie-info{
      display: flex;
      height: 100%;
      width: 100%;
      z-index: 100;
      position: absolute;
      align-items: flex-start;
      justify-content: center;
      color: white;
      font-size: 16px;
      padding: 12px 24px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      .movie-title{
        z-index: 1000;
        display:none;
        font-weight: bold;
        color:#fff;
        font-size:1.5rem;
        text-align: center;
      }
    .movie-title{
        z-index: 1000;
        display:none;
        font-weight: bold;
        color:#fff;
        font-size:1.5rem;
        text-align: center;
      }
    }
  }
    .favourite-movie-buttons{
    display: none;
    height: 100%;
    width: 100%;
    z-index: 100;
    position: absolute;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }


&:hover{
.favourite-movie-hover{
   background-color: rgba(14, 14, 14, 0.774);
}
  .favourite-movie-buttons{
    display: flex;
    z-index: 1000;
  }
  .favourite-movie-info{
    .movie-title{
      display:flex;
    }
  }
}
}
.favourite-movie-card{
  .ant-card-body{
    display: none;
}
}
